.container {
  text-align: center;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.459);
  padding: 50px;
  background-color: #24243e;
  color: wheat;
  border-radius: 5px;
}

.Login input{
  color: white;
  border-bottom: 2px solid white;
}

.Button {
  padding: 50px;
}

.message {
  background-color: black;
  color: red;
}

.user{
  height: 50px !important;
  width: 50px !important;
  margin-bottom: 30px;
  color: blueviolet;
}

.user:hover{
  color:#03035a
}