.section{
    background-color: #ff6b81;
     height: auto;
     padding-top: 20px;
     padding-bottom: 20px;
}


.title{
    font-size: 40px;
}


.card{
    display: flex;
    flex-direction: row
}

.overview{
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-left: 80px;
}

.overview p{
    padding-right: 50px;
    margin-left: 20px;
}